.list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    justify-content: space-between;
    margin-top: 20px;
}
.element{
    width: 153px;
    margin: 10px auto;
}
.image{
    height: 72px;
    width: 72px;
    margin: 0 auto;
}
.appStoreName{
    overflow: hidden;
    width: 80px;
    text-overflow: ellipsis;
    height: 20px;
    margin: 0 auto;
}
.moreSites{
    text-align: center;
}
.sending{
    margin-top: 10px;
    text-align: center;
}
.accordionRecommendation{
    margin-top: 20px;
}
.facts > div{
    margin: 5px 0;
}